<app-page-container title="Mark Attendance">
    <div *ngIf="classId != null && date != null; else error">
        <div>
            <h4>Mark Attendance for {{classAttendance?.class_name}}</h4>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">
                        Total Students
                    </div>
                    <div class="card-body">
                        <h4>{{ total }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">
                        Present Students
                    </div>
                    <div class="card-body">
                        <h4>{{ present }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 66vh; overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Attendance</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let record of classAttendance?.students; let i = index">
                    <th scope="row" class="text-center">{{ i + 1 }}</th>
                    <td>{{ record.student_name }}</td>
                    <td class="text-center">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="record.present">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="fixed-bottom text-center mb-3 p-3">
            <button class="btn btn-success form-control" type="button" (click)="submitAttendance()">Submit Attendance</button>
        </div>

    </div>
    <ng-template #error>
        <div class="alert alert-danger" role="alert">
            Unexpected error occurred. Please try again later.
        </div>
        <div class="fixed-bottom text-center mb-3 p-3">
            <button class="btn btn-primary form-control" type="button" (click)="navigate('/')">Back to Home</button>
        </div>
    </ng-template>

</app-page-container>
