<div style="display: flex; height: 100vh;">
    <app-navigation></app-navigation>
    <div class="container mt-5 pt-3">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Welcome to Attenda</h1>
                <p class="text-center">Your attendance management system</p>
            </div>
        </div>
        <div id="summary-section">
            <select class="form-select" (change)="onSummarySelectionChange()" [(ngModel)]="summary_selection" >
                <option value="all" [defaultSelected]="true">All</option>
                <option value="boys">Boys</option>
                <option value="girls">Girls</option>
            </select>
            <div class="row ps-3 pe-3 mt-3">
                <div class="col-6">
                    <div class="card text-center">
                        <div class="card-header">
                            Total Students
                        </div>
                        <div class="card-body">
                            <h1 class="display-4">{{total}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-center">
                        <div class="card-header">
                            Present Students
                        </div>
                        <div class="card-body">
                            <h1 class="display-4">{{present}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <canvas id="attendance-summary"></canvas>
        </div>

    </div>
</div>
