<div class="container">
    <div class="mb-3">
        <h2>Attenda</h2>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <app-block-button title="Mark Attendance" icon="bi bi-journal-text" (action)="navigate('/mark-attendance')"></app-block-button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <app-block-button title="Register a Student" icon="bi bi-person-add" (action)="navigate('/register-student')"></app-block-button>
        </div>
        <div class="col-6">
            <app-block-button title="Register a Class" icon="bi bi-person-rolodex" (action)="navigate('/register-class')"></app-block-button>
        </div>
    </div>

</div>
