<app-page-container title="Classes">
    <div class="container-fluid" style="height: 85vh; overflow-y: auto;">
        <div class="row">
            <div class="col-md-4" *ngFor="let classItem of classes">
                <div class="card mb-3 shadow-sm border-0">
                    <div class="card-body text-center">
                        <h4 class="text-primary">{{ classItem.name }}</h4>
                        <p class="card-text">
                            <span class="text-muted">{{ classItem.description }}</span>
                        </p>
                        <p class="card-text">
                            <i class="bi bi-person text-success"></i> Teacher: <strong>{{ classItem.teacher.name }}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-bottom text-center mb-3 p-3">
        <button class="btn btn-success form-control" type="button" (click)="navigate('/classes/create')">Add new class</button>
    </div>
</app-page-container>
